.footer {
    color: #000000;
    padding: 15px 0;
    background-color: #dddddd;
    .logo {
        text-align: right;
        img {
            filter: grayscale(100%);
            width: 150px;
        }
    }
}
